.list-group-item {
  border-left: none;
  border-right: none;
}

.nav2 li a{
  padding-left: 30px;
}

.nav .glyphicon{
  margin-right: 10px;
}

.content .list-group-item {
  display: block;
  min-height: 50px;
  font-size: 20px;
}

.content .icon {
  float: left;
  margin-left: 3%;
}

.content .website {
  width: 12%;
  float: left;
  margin-left: 3%;
}

.content .title {
  float: left;
}

.content .preview {
  float: left;
  color: #bbb;
  margin-left: 3%;
}

.content .date {
  float: right;
  margin-right: 5%;
}
