.list-group-item {
  border-left: none;
  border-right: none;
}

.nav2 li a{
  padding-left: 30px;
}

.nav .glyphicon{
  margin-right: 10px;
}

.content .list-group-item {
  display: block;
  min-height: 50px;
  font-size: 14px;
}

.content .list-group-item {
  line-height: 50px;
  padding: 0px 10px;
}

.content .icon {
  float: left;
  margin-left: 0%;
}

.content .website {
  width: 16%;
  float: left;
  margin-left: 1%;
  white-space: nowrap;
  overflow: hidden;
}

.content .info {
  width: 72%;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content .title {
  font-weight: bold;
}

.content .preview {
  color: #bbb;
  margin-left: 3%;
}

.content .date {
  float: left;
  margin-left: 2%;
}

.post-content {
  padding: 20px 50px;
}

